.my-scrollbar-track {
  position: absolute;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  z-index: 999;
  box-sizing: border-box;
}

.my-scrollbar-track.vertical {
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
}

.my-scrollbar-track.horizontal {
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
}

.my-scrollbar-track.vertical.has-horizontal {
  height: calc(100% - 8px);
}

.my-scrollbar-track.horizontal.has-vertical {
  width: calc(100% - 8px);
}

.my-scrollbar-thumb {
  position: absolute;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-sizing: border-box;
}

.my-scrollbar-track.vertical .my-scrollbar-thumb {
  width: 100%;
  left: 0;
}

.my-scrollbar-track.horizontal .my-scrollbar-thumb {
  height: 100%;
  top: 0;
}

.scrollbar-thumb-active * {
  user-select: none !important;
  cursor: default !important;
}
